thesis/**/*.lb
thesis/**/*.aux
thesis/**/*.lof
thesis/**/*.log
thesis/**/*.lol
thesis/**/*.lot
thesis/**/*.out
thesis/**/*.pdf
thesis/**/*.synctex.gz
thesis/**/*.thm
thesis/**/*.toc
thesis/**/*.bbl
thesis/**/*.blg

# Mac specific
.DS_Store